@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --primary: #1e40af;
  --secondary: #0891b2;
  --accent: #f59e0b;
}
.dark .filter-white {
  filter: invert(1) sepia(1) saturate(0) hue-rotate(0deg) brightness(97%)
    contrast(98%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #e2e8f0;
    --primary: #93c5fd;
    --secondary: #67e8f9;
    --accent: #fcd34d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 360px) {
  .smm\:flex-row {
    flex-direction: row;
  }
}
@media (min-width: 1431px) and (max-width: 1535px) {
  .element {
    /* Your styles here */
    top: 245px;
  }
}
@media (min-width: 1431px) and (max-width: 1535px) {
  .element2 {
    /* Your styles here */
    bottom: -140px;
  }
}

@media (min-width: 1431px) {
  .element2 {
    /* Your styles here */
    bottom: -140px;
  }
}

@media (min-width: 1100px) and (max-width: 1280px) {
  .element3 {
    /* Your styles here */
    bottom: -120px;
    top: 323px;
  }
}

@media (min-width: 897px) and (max-width: 2000px) {
  .element4 {
    /* Your styles here */
    min-height: 0;
  }
}
@media (min-width: 1103px) and (max-width: 2000px) {
  .element5 {
    /* Your styles here */
    bottom: -130px !important;
  }
}
